@require 'constants.styl'
@require 'scrollbars.styl'

*
    box-sizing border-box
    color textColor1

body
    font-family Arial
    margin 0
    overflow hidden
    max-height 100vh

    background global-background;
    transition background-color ease 0.3s

h2, h3, h4
    margin 15px 0

.mobile-show
    display none
@media screen and (max-width: $mobileWidth) {
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
    }
}

button
    border 1px solid #BBB;
    border-radius 5px;
    padding 4px;
    background-color #FAFAFA;

    transition 0.3s ease all;

button:hover
    border-color orange
    box-shadow 0 0 2px orange

#app
    display flex
    flex-direction column
    height 100vh
