<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>LKJSE</title>
</head>
<body>
    <div class="liokor-edu" id="mainBlock">
        <div class="top">
            <div class="mobile-hide"><div class="logo"><strong>LK JS Edu</strong> <span id="versionInfo"></span></div></div>
            <div class="mobile-show"><div class="logo"><strong>LKJSE</strong></div></div>
            <div id="openButton" class="control-button">Open<span class="mobile-hide"> (Drag&Drop)</span></div>
            <div id="saveButton" class="control-button">Save<span class="mobile-hide"> (Ctrl+S)</span></div>
            <div id="runButton" class="control-button">Run<span class="mobile-hide"> (F8)</span></div>
            <div id="checkButton" class="control-button">Check<span class="mobile-hide"> (F9)</span></div>
            <div id="terminateButton" style="display: none;" class="control-button warning">Cancel check<span class="mobile-hide"> (Ctrl+F9)</span></div>
        </div>
        <div class="task-and-editor">
            <div id="taskBlock" class="task">
                <div>
                    <label><strong>Tasks:</strong>
                        <select v-model="selectedTaskName" @change="taskSelected">
                            <option v-for="taskName of tasksList">{{ taskName }}</option>
                        </select>
                    </label>
                </div>

                <h2>{{ name }}</h2>
                <h3>Description</h3>
                <p>{{ description }}</p>
                <h3>Examples:</h3>
                <table id="examplesTable">
                    <thead>
                        <tr>
                            <th>args</th>
                            <th>return</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="test in tests.slice(0, 2)">
                            <td>
                                <span v-for="(arg, i) in test[0]">
                                    {{ arg }}{{ (i < test[0].length - 1)? ', ': '' }}
                                </span>
                            </td>
                            <td>{{ test[1] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="dragLine" class="drag-line"><div class="dots">⋮</div></div>

            <div class="editor" id="editorBlock">
                <div id="aceEditor"></div>
            </div>
        </div>

        <div class="check-info" id="checkArea">
            <div class="tests-info">
                <div id="testsInfo">
                    <div v-for="(test, i) in testsInfo" :class="getTestInfoClass(test)">
                        <label>{{ i + 1 }}</label>
                        <div class="errorMessage">{{ test.errorText }}</div>
                    </div>
                </div>
            </div>
            <div id="timeInfo" class="time-info">
                <table id="liokorEdu">
                    <tr>
                        <th colspan="2">Execution time:</th>
                    </tr>
                    <tr>
                        <td>Total: </td>
                        <td>{{ s.total }}</td>
                    </tr>
                    <tr>
                        <td>Max: </td>
                        <td>{{ s.max }}</td>
                    </tr>
                    <tr>
                        <td>Average ({{ amount }}): </td>
                        <td>{{ s.average }}</td>
                    </tr>
                    <tr>
                        <td>Min: </td>
                        <td>{{ s.min }}</td>
                    </tr>
                </table>
            </div>
            <div class="source-code">
                <pre><code ref="sourceCode" class="js"></code></pre>
            </div>
        </div>
    </div>

    <script src="extensions/ace-src-min/ace.js"></script>
    <script src="extensions/highlight/highlight.pack.js"></script>
    <script src="extensions/highlight-line-numbers.min.js"></script>

    <script src="main.js"></script>
</body>
</html>